/* Eurofurence */
@font-face {
    font-family: eurofurence;
    src: url(/fonts/eurofurence/eurof55.ttf);
}

/* Lato */
@font-face {
    font-family: lato;
    src: url(/fonts/lato/Lato-Regular.ttf);
}

/* Aquire */

@font-face{
    font-family: aquire;
    src: url(/fonts/Aquire-BW0ox.otf)
}