.main-header{
    margin-block-end: 2em;
    background-color: black;
    height: 60PX;
    border-radius: 25px;

}

.logo{
    font-size: 1.5rem;
    padding: 0 0 0 1rem
}

.main-menu lis:hover{
    transition: .5s;
    }

    
.main-menu{
    display: grid;
    gap:1em;
    grid-auto-flow: column;
    flex-wrap: wrap;
}

.gallery-header span:hover{
    cursor: pointer;
}

.main-nav .main-menu a{
    margin-inline-start: 6.25em;
    color:white;
}
