.meme-container {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 1fr 7fr 0.5fr;
  background-color: gainsboro;
  gap: 10px;
  grid-template-areas:

    "header  header"
    "canvas  controll"
    "share   share"

}

.meme-container a {
  color: black
}

.meme-header {
  grid-area: header;
  justify-self: center;
  align-self: center;
}

.meme-canvas {
  grid-area: canvas;
  width: 100%;
  height: 100%;
}

.meme-text {
  height: 50px;
  width: 250px;
  border-radius: 25px;
  justify-self: center;
  align-self: center;
  margin-block-start: 25px;
  margin-block-end: 25px;
  text-align: center;
  font-family: poppins;
}

.meme-controll {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-area: controll;
  border: 1px solid black;
  margin-inline-end: 2rem;
  border-radius: 20px;
  flex-direction: column;
  justify-items: center;
}

.meme-controll button {
  width: 50px;
  height: 50px;
}

.trash-icon {
  background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
  box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
  border-radius: 10px;
  border: 0;
}

.plus-icon {
  background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
  box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
  border-radius: 10px;
  border: 0;
}

.arrow-icon {
  background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
  box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
  border-radius: 10px;
  border: 0;
}

.control-text {
  display: grid;
  grid-auto-flow: column;
  padding: 5px;
  background-color: #19a59f;
  border-radius: 15px;
}

.control-text button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
  margin: 3px 5px
}

.control-font {
  grid-row: 2;
  grid-column: 1/5;
}

.font-type {
  grid-column: 1/4;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);

}

.meme-share {
  grid-area: share;
  justify-self: center;
  align-self: center;
}

@media (max-width:800px) {
  body {
    background-color: red;
  }

  .meme-container {
    grid-template-columns:
    minmax(20px, 1fr)
    minmax(auto, 760px) 
    minmax(20px, 1fr);
    grid-template-rows: 80px 3fr 2fr 0.5fr;
    gap: 10px;
    grid-template-areas:

      "header header"
      "canvas  canvas"
      "controll controll"
      "share   share"
  }

  .meme-container > *{    
    grid-column: 2;
  }

  .meme-canvas {
    display: flex;
    justify-content: center;
  }

  .meme-controll{
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
}