.main-header{
    margin-block-end: 20px;
    background-color: black;
    height: 60PX;
    border-radius: 25px;
}

.main-nav{
    grid-column: 2;
}

.main-menu{
    display: grid;
    gap:100px;
    grid-auto-flow: column;
    padding: 0 1rem 0 1rem;
}

.main-nav .main-menu a{
    margin-inline-start: 100px;
    color:white;
}